body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background: linear-gradient(to bottom, #2F0A49, #761334, #000033);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .country_container {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    margin-top: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #555;
  }
  
  input[type="tel"], input[type="password"] {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 96%;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .drop_button {
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
  }
  
  .drop_button:hover {
    background-color: #e6e6e6;
  }
  
  .dropdown-elements {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown-elements a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 16px;
  }

  .dropdown-elements a img {
    display: block;
    height: 20px;
    margin-right: 10px;
    width: 30px;
  }
  
  .dropdown-elements a:hover {
    background-color: #f2f2f2;
  }
  
  .dropdown:hover .dropdown-elements {
    display: block;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  form {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }

  
  input[type="submit"] {
    background-color: #a10f8b;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #8d1029;
  }
    